<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Eliminar</title>
</head>
<body>
        <%if(product == null){%>
            <p>No existe el producto con ID <%=idProduct%></p>
        <%}else{%>
            <p>Seguro que queres eliminar el producto con ID: <%=product.id%>?</p>
            <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                <button type="submit">Borrar</button>
            </form>
        <%}%>    
</body>
</html>