/* General settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html, body{
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

#root {
    height: 100%;
    background-color: #F7F6F9;
    display: flex;
    flex-direction: column;
}
/* General settings */

/*Topbar settings*/
.topbar{
   background-color: white;
   display: flex;
   justify-content: flex-end;
}

.topbar-flex{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 256px);
    height: 50px;
    box-shadow: 1px 0px 5px rgb(100 100 100 / 50%);
}

.topbar-user {
    display: flex;
    align-items: center;
    margin-right: 56px;
}

.fai-user{
    margin-right: 5px;
    color: #373737;
}

.topbar-user span {
    color: #373737;
    font-size: 14px;
}

/*Topbar settings*/

/*Sidebar settings*/
.sidebar{
    width: 256px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #F7F6F9;
}

.sidebar-logo{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #F7F6F9;
}

.fai-logo {
    font-size: 50px;
    color: #373737;
    z-index: 1001;
}

.sidebar-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 5px 5px rgb(100 100 100 / 50%);
}

.sidebar-pages-list{
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    width: 90%;
}

.sidebar-pages-list li {
    margin: 0 0 10px 0;
    width: 100%;
    display: flex;
}

.fai-sidebar{
    width: 24px;
}

.sidebar-pages-span{
    margin-top: 30px;
}

.active{
    background-color: #1996F4;
}

.active span{
    color: white;
}

.link-span {
    color:#373737;
}

.li-background{
    width: 100%;
    padding: 5px;
    text-decoration: none;
    border-radius: 8px;
}

/*Sidebar settings*/

/*Products page settings*/
.main-container-products{
    margin-left: 256px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-detail {
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.title h2 {
    font-size: 32px;
}

.button-style {
    background-color: #1996F4;
    border-radius: 5px;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 15px 0 20px 0;
}

.tabla {
    background-color: #f7f6f9;
    text-align: left;
    border-collapse: collapse;
    color: #373737;
}

.tabla-header {
    width: 100%;
    background-color: white;
    outline: thin solid white;
    border-radius: 5px;
}

.tabla-header tr th {
    font-size: 16px;
    padding: 10px;
}

.tabla-header tr th div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faChevronDown{
    padding-left: 5px;
    font-size: 11px;
}

.table-separator{
    height: 10px;
    color: #F7F6F9;
    width: 100%;
}

.tabla-body {
    background-color: white;
    width: 100%;
    outline: thin solid white;
    border-radius: 5px;
    margin-top: 10px;
}

.td-product {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabla-body tr {
    position: relative;
}

.tabla-body tr td{
    font-size: 16px;
    padding: 10px;
}

.img {
    height: 85px;
    width: auto;
}

.product-active div {
    height: 100%;
    display: flex;
    align-items: center;
    color: #42B873;
}

.product-inactive div {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fb8a8c;
}

.active-dot {
    height: 7px;
    width: 7px;
    background-color: #42B873;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.inactive-dot {
    height: 7px;
    width: 7px;
    background-color: #fb8a8c;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}



.faPen {
    text-decoration: none;
    color: #57AEF8;
    background-color: #EBF7FE;
    padding: 8px;
    border-radius: 50%;
}

.faTrash {
    height: 16px;
    width: 16px;
    text-decoration: none;
    padding-right: 30px;
    color: #FB8A8C;
    background-color: #FFE5E6;
    padding: 8px;
    border-radius: 50%;
}

.faPen:hover{
    background-color: #57AEF8;
    color: #EBF7FE;
    transition: 200ms ease-in-out;
}

.faTrash:hover{
    background-color: #FB8A8C;
    color: #FFE5E6;
    transition: 200ms ease-in-out;
}

.product-tr:before{
    display: block;
    content: "";
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    border-bottom: 1px solid #E0E0E0;
}
/*Products page settings*/

/* LastInDb page settings */
.main-container-lidb{
    margin-left: 256px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lidb-container{
    display: flex;
    flex-direction: row;
}

.lidb-div {
    text-align: center;
    margin: 0 30px;
}

.div-title{
    font-size: 32px;
    font-weight: 700;
    color: #373737;
}

.div-user-product {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.div-img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}